@model SEP_CAMERA_PHUONGNGHI.Models.Brand

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_mLayoutAdmin.cshtml";
}


<div class="page-inner">
    <div class="page-header">
        <Strong class="page-title">QUẢN LÍ SẢN PHẨM</Strong>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Xóa sản phẩm</h3>
                            <strong>Bạn có chắc muốn xóa sản phẩm không?</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a style="font-size:16px" href="@Url.Action("Index")">Quay lại</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                    </dl>

                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="card-action">
                        <div class="form-actions">
                            <input type="submit" value="Xóa" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
