
@{
    ViewBag.Title = "Contact";
}

<div class="site__body">
    <div class="block-map block">
        <div class="block-map__body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15675.482942143179!2d106.7116815!3d10.821203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528f4a62fce9b%3A0xc99902aa1e26ef02!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBWxINuIExhbmcgLSBDxqEgc-G7nyAz!5e0!3m2!1svi!2s!4v1656834357874!5m2!1svi!2s" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__title">
                <h1>Liên hệ</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="card mb-0">
                <div class="card-body contact-us">
                    <div class="contact-us__container">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                                <h4 class="contact-us__header card-title">Our Address</h4>
                                <div class="contact-us__address">
                                    <p>
                                        453A/38/12 Bùi Minh Trực, Phường 6, Quận 8, TP.HCM<br>
                                        cameraphuongnghihuynh@gmail.com<br>
                                        0982.76.77.99
                                    </p>
                                    <p>
                                        <strong>Opening Hours</strong><br>Mon-Sat 10:00pm - 7:00pm
                                    <p>
                                        <strong>Comment</strong><br>An toàn - Chất lượng - Bảo vệ ngôi nhà bạn
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
