
@{
    ViewBag.Title = "Pay";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="article-body">
            <h1 class="tp_title">Hướng dẫn thanh toán</h1>
            <meta itemprop="image" content="https://img.cdn.vncdn.io/nvn/ncdn/store1/48953/art/banner-thanh-toan.jpg">
            <meta itemprop="datePublished" content="2021-04-30 19:21:02">
            <meta itemprop="image" content="https://img.cdn.vncdn.io/nvn/ncdn/store1/48953/art/banner-thanh-toan.jpg">
        </div>
        
        <div class="article-pages">
            <h1 class="mainbox-title"
                style="font-family:Oswald, Arial, sans-serif;font-size:14px;letter-spacing:1px;border:0px;margin:0px;padding:2px 0px 10px;color:rgb(0,0,0);">
                &nbsp;
            </h1>
            <div class="mainbox-body"
                 style="font-family:Oswald, Arial, sans-serif;font-size:14px;letter-spacing:1px;border:0px;margin:0px;padding:0px;color:rgb(0,0,0);">
                <div class="ty-wysiwyg-content" style="border:0px;margin:0px;padding:0px;">
                    <div class="content_blog_page" style="border:0px;margin:0px;padding:0px;">
                        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;text-align:center;">
                            <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;color:rgb(255,0,0);">
                                <div class="article-img">
                                    <img src="https://img.cdn.vncdn.io/nvn/ncdn/store1/48953/art/banner-thanh-toan.jpg">
                                </div>
                                <strong style="font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">
                                    ***
                                    THÔNG TIN CHUYỂN KHOẢN ***&nbsp;
                                </strong>
                            </span>
                        </div>
                        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;text-align:center;">
                            <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">---CAMERA PHƯƠNG NGHI---</span>
                        </div>
                        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;text-align:center;">
                            &nbsp;
                        </div>
                        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;text-align:center;">
                            <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">
                                Tên
                                chủ tài khoản&nbsp;: <strong>Nguyen Thanh Luong</strong>
                            </span>
                        </div>
                        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;text-align:center;">
                            <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">
                                Số
                                tài khoản:&nbsp;<strong>0721000598124</strong>
                            </span>
                        </div>
                        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;text-align:center;">
                            <strong>
                                <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">
                                    Vietcombank
                                    TPHCM
                                </span>
                            </strong>
                        </div>
                        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;text-align:center;">
                            &nbsp;
                        </div>
                        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;text-align:center;">
                            <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">
                                <span style="background-color:#FFFF00;">
                                    Nội dung chuyển khoản: <em>
                                        <strong>
                                            số điện thoại
                                            đặt hàng&nbsp;
                                        </strong>
                                    </em>
                                </span>
                            </span>
                        </div>
                        <p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:6px 0px;line-height:22px;">
                            <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;color:rgb(255,0,0);">
                                <strong style="font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">
                                    LƯU
                                    Ý:&nbsp;
                                </strong>
                            </span>
                        </p>
                        <ul style="font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding-right:0px;padding-left:0px;list-style-type:none;line-height:22px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
                            <li style="letter-spacing:0px;border:0px;margin:0px;padding:2px 0px;text-align:left;list-style-type:none;line-height:22px;">
                                <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">
                                    Camera Phương Nghi chỉ nhận thanh toán bằng tiền VNĐ
                                </span>
                            </li>
                            <li style="letter-spacing:0px;border:0px;margin:0px;padding:2px 0px;text-align:left;list-style-type:none;line-height:22px;">
                                <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">
                                    Sau
                                    khi thanh toán bằng hình thức chuyển khoản, quý khách vui lòng báo lại Camera Phương Nghi
                                    để chúng tôi kiểm tra và tiến hành vận chuyển đơn hàng.
                                </span>
                            </li>
                        </ul>
                        <p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:6px 0px;line-height:22px;">
                            <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">&nbsp;</span>
                        </p>
                        <p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:6px 0px;line-height:22px;">
                            <span style="font-size:12pt;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">
                                Mọi
                                thắc mắc cần tư vấn các bạn vui lòng liên hệ&nbsp;<strong style="font-size:15px;letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;">
                                    <a href="http://m.me/xfireclothing"
                                       style="letter-spacing:0px;border:0px;margin:0px;padding:0px;line-height:22px;color:rgb(255,0,0);"
                                       target="_blank" rel="noreferrer noopener">Camera Phương Nghi</a>
                                </strong>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-tags clearfix"></div>
        <div class="hidden" style="display: none">
            <span itemprop="author">Quản trị viên</span>
            <div itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
                <span itemprop="logo" itemscope="" itemtype="http://schema.org/ImageObject">
                    <span itemprop="url">
                        https://img.cdn.vncdn.io/nvn/ncdn/store1/48953/logo_1619061639_logo
                        Xfire.png
                    </span>
                </span>
            </div>
            <img itemprop="image" alt="Hướng dẫn thanh toán"
                 src="https://img.cdn.vncdn.io/nvn/ncdn/store1/48953/art/banner-thanh-toan.jpg">
            <time datetime="30-04-2021" itemprop="datePublished">30-04-2021</time>
            <span itemprop="headline">Hướng dẫn thanh toán</span>
        </div>
    </div>
</div>
