
@{
    ViewBag.Title = "About";
}

<div class="block about-us">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">Giới thiệu về CAMERA HUỲNH THỨC</h1>
                    <div class="about-us__text typography">
                        <p>
                            Cửa hàng Camera Huỳnh Thức với hơn 10 năm kinh nghiệm trong ngành, đặc biệt là lĩnh vực Camera quan sát đã tạo được vị thế nhất định và được
                            sự tin tưởng tuyệt đối từ các khách hàng trong cả nước.
                        </p>
                        <p>
                            Cửa hàng luôn đặt châm ngôn khi làm việc là An toàn - Chất lượng - Bảo vệ ngôi nhà bạn. Vì thế nên mới làm nên thương hiệu của cửa hàng hôm nay
                        </p>
                        <p>
                            Cửa hàng chủ yếu hoạt động trong các lĩnh vực
                        </p>
                        <p>
                            - Camera trọn bộ
                        </p>
                        <p>
                            - Camera giám sát
                        </p>
                        <p>
                            - Camera An ninh
                        </p>
                        <p>
                            - Thiết bị nhà thông minh
                        </p>
                    </div>
                    <div class="about-us__teammates teammates">
                        <div class="owl-carousel">

                            <div class="teammates__item teammate">
                                <div class="teammate__name">HUỲNH VĂN THỨC</div>
                                <div class="teammate__position text-muted">Người quản lí của cửa hàng Camera</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

